@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");

*,
::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* teams section css-start */
#Teams {
  background: #222;
}
.teams-wapper-card {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams-wapper-card {
  width: 100%;
  height: 250px;
}
.teams-wapper-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.teams-wapper-card:hover img {
  transform: scale(1.05);
}
