body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#content {
  position: fixed;
  text-transform: capitalize;
  font-size: 30px;
  font-family: arial black;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

#direction {
  position: fixed;
  font-family: italic;
  font-size: 29px;
  bottom: 0;
  padding-right: 10px;
  text-align: center-left;
}
.tbody {
  position: fixed;
  text-transform: capitalize;
  font-size: 30px;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}
