@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");

*,
::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-sing-box img {
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
