@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");

/* default css start here*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
a {
  color: #555;
  text-decoration: none;
  transition: 0.5s ease;
}
a :hover {
  color: rgb(212, 39, 16);
}
/* default css end here*/

/* portfolio-area css start here */
.portfolio-area {
  background: #ddd;
}
.portfolio-area .portfolio-menu li {
  border: 1px solid #ffdf20;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 15px 5px;
  cursor: pointer;
}
.portfolio-menu li.nav-item.active {
  background: #ffdf20;
}
.single-portfolio {
  position: relative;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.8s ease-in;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 20px 3px #000000b0;
}
.single-portfolio img {
  width: 100%;
  height: 200px;
  transition: transform 2s;
}
.single-portfolio:hover img {
  transform: scale(1.3);
}
