@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");

/* default css start here*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
a {
  color: #555;
  text-decoration: none;
  transition: 0.5s ease;
}
a :hover {
  color: rgb(212, 39, 16);
}
/* default css end here*/

/* bottom to top scroll button css here  */
.scroll-up {
  position: fixed;
  height: 42px;
  width: 40px;
  background: rgb(212, 39, 16);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 35px;
  border-radius: 100%;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.scroll-up.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up:hover {
  filter: brightness(90%);
}
